<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniu.yoga.home.dao.HomepageMapper">
  <resultMap id="BaseResultMap" type="com.woniu.yoga.home.pojo.Homepage">
    <id column="m_id" jdbcType="INTEGER" property="mId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="comment_count" jdbcType="BIGINT" property="commentCount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="homepage_flag" jdbcType="INTEGER" property="homepageFlag" />
  </resultMap>

  <resultMap id="VoResultMap" type="com.woniu.yoga.home.vo.HomepageVo">
    <id column="m_id" jdbcType="INTEGER" property="mId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="comment_count" jdbcType="BIGINT" property="commentCount" />
    <result column="user_nickname" jdbcType="VARCHAR" property="userNickName" />
    <result column="user_level" jdbcType="INTEGER" property="userLevel" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="distance" jdbcType="FLOAT" property="distance"/>
    <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
  </resultMap>


  <sql id="Base_Column_List">
    m_id, title, img, user_id, comment_count, create_time, homepage_flag
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <sql id="HomepageVo_Column_List">
    m_id, title, img, user_id, comment_count,
    user_nickname, user_level
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from homepage
    where m_id = #{mId,jdbcType=INTEGER}
  </select>
  <select id="selectHomepageDetail" resultMap="VoResultMap">
    select
      m_id, title, img, content, h.user_id, comment_count, create_time, homepage_flag,
      user_nickname,user_level,user_headimg,role_name,role_name
    from homepage as h, `user` as u, role as r
    where h.user_id=u.user_id and m_id=#{mid} and u.role_id=r.role_id
  </select>
  <select id="queryHomepages" resultMap="VoResultMap">
    SELECT
      m_id, title, img, h.user_id, comment_count,
      user_nickname, user_level,create_time,content,role_name
    ,(6371 * acos (
              cos ( radians(#{latitude}) )
              * cos( radians( u.latitude ) )
              * cos( radians( u.longitude ) - radians(#{longitude}) )
            + sin ( radians(#{latitude}) )
                * sin( radians( u.latitude ) )
        )
      ) AS distance
    FROM homepage as h,`user` as u, role as r
    where h.user_id=u.user_id and homepage_flag = 0 and user_flag = 0 and user_privacy = 2 and u.role_id=r.role_id
    HAVING distance &lt; 10
    ORDER BY create_time desc
    </select>

  <select id="queryOtherHomepages" resultMap="VoResultMap">
    SELECT
      m_id, title, img, h.user_id, comment_count,
      user_nickname, user_level,create_time,content,role_name
            ,(6371 * acos (
                cos ( radians(#{latitude}) )
                * cos( radians( u.latitude ) )
                * cos( radians( u.longitude ) - radians(#{longitude}) )
              + sin ( radians(#{latitude}) )
                  * sin( radians( u.latitude ) )
      )
        ) AS distance
    FROM homepage as h,`user` as u
    where h.user_id=u.user_id and homepage_flag = 0 and user_flag = 0 and user_privacy = 2 and role_id=#{roleId}
    HAVING distance &lt; 10
    ORDER BY create_time desc
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from homepage
    where m_id = #{mId,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.woniu.yoga.home.pojo.Homepage">
    insert into homepage (m_id, title, img, 
      user_id, comment_count, create_time, 
      homepage_flag, content)
    values (default, #{title,jdbcType=VARCHAR}, #{img,jdbcType=VARCHAR},
      #{userId,jdbcType=INTEGER}, #{commentCount,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      default , #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.woniu.yoga.home.pojo.Homepage">
    insert into homepage
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mId != null">
        m_id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="img != null">
        img,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="commentCount != null">
        comment_count,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="homepageFlag != null">
        homepage_flag,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mId != null">
        #{mId,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="img != null">
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="commentCount != null">
        #{commentCount,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="homepageFlag != null">
        #{homepageFlag,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.woniu.yoga.home.pojo.Homepage">
    update homepage
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="img != null">
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="commentCount != null">
        comment_count = #{commentCount,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="homepageFlag != null">
        homepage_flag = #{homepageFlag,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where m_id = #{mId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.woniu.yoga.home.pojo.Homepage">
    update homepage
    set title = #{title,jdbcType=VARCHAR},
      img = #{img,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      comment_count = #{commentCount,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      homepage_flag = #{homepageFlag,jdbcType=INTEGER}
    where m_id = #{mId,jdbcType=INTEGER}
  </update>
</mapper>