<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniu.yoga.venue.dao.ProductMapper">

  <select id="venueAllProductMapper" resultMap="BaseResultMap">
    select
    p.product_id,
    p.venue_id,
    b.dict_item_name product_type,
    p.product_price ,
    p.product_detail,
    p.total_time,
    p.product_level,
    p.start_time,
    p.end_time,
    p.consume_time
    from product p left join  base_dict b
    on p.product_type = b.dict_id
     where p.venue_id = #{venueId}
  </select>
  <select id="findOneProduct" resultMap="BaseResultMap">
     select
    p.product_id,
    p.venue_id,
    b.dict_item_name product_type,
    p.product_price ,
    p.product_detail,
    p.total_time,
    p.product_level,
    p.start_time,
    p.end_time,
    p.consume_time
    from product p left join  base_dict b
    on p.product_type = b.dict_id
     where p.product_id = #{productId}
  </select>

    <insert id="addProduct" >
      insert into product values (default ,#{product.venueId},#{product.productType},#{product.productPrice},
                                  #{product.detail},#{product.totalTime},#{product.productLevel},
                                  #{product.startTime},#{product.endTime},#{product.consumeTime},0)
    </insert>
    <update id="venueDeleteProduct">
        update product set product_flag = 1 where product_id = #{0};
    </update>



  <resultMap id="BaseResultMap" type="com.woniu.yoga.venue.pojo.Product">
    <id column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="venue_id" jdbcType="INTEGER" property="venueId" />
    <result column="product_type" jdbcType="VARCHAR" property="productType" />
    <result column="product_price" jdbcType="DECIMAL" property="productPrice" />
    <result column="product_detail" jdbcType="VARCHAR" property="productDetail" />
    <result column="total_time" jdbcType="INTEGER" property="totalTime" />
    <result column="product_level" jdbcType="INTEGER" property="productLevel" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="consume_time" jdbcType="VARCHAR" property="consumeTime" />
    <result column="product_flag" jdbcType="INTEGER" property="productFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    product_id, venue_id, product_type, product_price, product_detail, total_time, product_level, 
    start_time, end_time, consume_time, product_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product
    where product_id = #{productId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from product
    where product_id = #{productId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.woniu.yoga.venue.pojo.Product">
    insert into product (product_id, venue_id, product_type, 
      product_price, product_detail, total_time, 
      product_level, start_time, end_time, 
      consume_time, product_flag)
    values (#{productId,jdbcType=INTEGER}, #{venueId,jdbcType=INTEGER}, #{productType,jdbcType=INTEGER}, 
      #{productPrice,jdbcType=DECIMAL}, #{productDetail,jdbcType=VARCHAR}, #{totalTime,jdbcType=INTEGER}, 
      #{productLevel,jdbcType=INTEGER}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
      #{consumeTime,jdbcType=VARCHAR}, #{productFlag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.woniu.yoga.venue.pojo.Product">
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        product_id,
      </if>
      <if test="venueId != null">
        venue_id,
      </if>
      <if test="productType != null">
        product_type,
      </if>
      <if test="productPrice != null">
        product_price,
      </if>
      <if test="productDetail != null">
        product_detail,
      </if>
      <if test="totalTime != null">
        total_time,
      </if>
      <if test="productLevel != null">
        product_level,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="consumeTime != null">
        consume_time,
      </if>
      <if test="productFlag != null">
        product_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="venueId != null">
        #{venueId,jdbcType=INTEGER},
      </if>
      <if test="productType != null">
        #{productType,jdbcType=INTEGER},
      </if>
      <if test="productPrice != null">
        #{productPrice,jdbcType=DECIMAL},
      </if>
      <if test="productDetail != null">
        #{productDetail,jdbcType=VARCHAR},
      </if>
      <if test="totalTime != null">
        #{totalTime,jdbcType=INTEGER},
      </if>
      <if test="productLevel != null">
        #{productLevel,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="consumeTime != null">
        #{consumeTime,jdbcType=VARCHAR},
      </if>
      <if test="productFlag != null">
        #{productFlag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.woniu.yoga.venue.pojo.Product">
    update product
    <set>
      <if test="venueId != null">
        venue_id = #{venueId,jdbcType=INTEGER},
      </if>
      <if test="productType != null">
        product_type = #{productType,jdbcType=INTEGER},
      </if>
      <if test="productPrice != null">
        product_price = #{productPrice,jdbcType=DECIMAL},
      </if>
      <if test="productDetail != null">
        product_detail = #{productDetail,jdbcType=VARCHAR},
      </if>
      <if test="totalTime != null">
        total_time = #{totalTime,jdbcType=INTEGER},
      </if>
      <if test="productLevel != null">
        product_level = #{productLevel,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="consumeTime != null">
        consume_time = #{consumeTime,jdbcType=VARCHAR},
      </if>
      <if test="productFlag != null">
        product_flag = #{productFlag,jdbcType=INTEGER},
      </if>
    </set>
    where product_id = #{productId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.woniu.yoga.venue.pojo.Product">
    update product
    set venue_id = #{venueId,jdbcType=INTEGER},
      product_type = #{productType,jdbcType=INTEGER},
      product_price = #{productPrice,jdbcType=DECIMAL},
      product_detail = #{productDetail,jdbcType=VARCHAR},
      total_time = #{totalTime,jdbcType=INTEGER},
      product_level = #{productLevel,jdbcType=INTEGER},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      consume_time = #{consumeTime,jdbcType=VARCHAR},
      product_flag = #{productFlag,jdbcType=INTEGER}
    where product_id = #{productId,jdbcType=INTEGER}
  </update>
</mapper>